.app{
  text-align: center;
}
.calculadora{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  background-color: black;
  margin: 0px 100px 0px 100px;
}

.numeros{
  border: 1px solid black;
  width: 100px;
  height: 50px;
  margin:0px 0px 40px 0px ;
}
.posicao{
 display: flex;
 justify-content: center;
}